{% load static %}
<div class="container">
  <div class="row my-4">
    <div class="col-md-4" id="bounce_two">
      <div class="card bg-c-green order-card h-100">
        <div class="card-block text-center">
          <h6 class="lead fw-semibold">Chickens</h6>
          <hr>
          <div class="d-flex justify-content-center align-items-center">
            <img class="icon-size me-2" src="{% static 'images/icons/feather-2.svg' %}" alt="Accounts:">
            <h5 class="display-6 fw-bold me-2">7</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" id="bounce_three">
      <div class="card bg-c-yellow order-card h-100">
        <div class="card-block text-center">
          <h6 class="lead fw-semibold">Eggs Laid</h6>
          <hr>
          <div class="d-flex justify-content-center align-items-center">
            <img class="icon-size me-2" src="{% static 'images/icons/grid-circle-plus.svg' %}" alt="Accounts:">
            <h5 class="display-6 fw-bold me-2"><span>0</span></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" id="bounce_four">
      <div class="card bg-c-blue order-card h-100">
        <div class="card-block text-center">
          <p class="lead fw-semibold">Members</p>
          <hr>
          <div class="d-flex justify-content-center align-items-center">
            <img class="icon-size me-2" src="{% static 'images/icons/accessibility-2.svg' %}" alt="Accounts:">
            <h5 class="display-6 fw-bold me-2"><span>{{ user_count }}</span></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>