{% load static %}
<header class="masthead text-center text-white rounded-5 my-2">
  <div class="masthead-content">
    <div class="container px-4">
      <h1 class="masthead-heading my-2 text-dark display-3 fw-semibold" id="bounce_title">ChikCam</h1>
      <h2 class="masthead-content mb-5 text-dark display-6 fw-semibold" id="fizzle_title_1">
        Watch Real Chicks <br><span id="fizzle_title_2">in Real Time</span>
      </h2>
      <a class="btn btn-dark rounded-pill mx-3 align-content-center" href="{% url 'chicks:home' %}">
        Watch Live <img class="" src="{% static 'images/icons/video.svg' %}" alt="arrow icon">
      </a>
      <a class="btn btn-secondary rounded-pill my-4 mx-3" href={% url 'account_signup' %}>Register Now <img src="{% static 'images/icons/arrow-door-in.svg' %}" alt="Sign Up"></a>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
