{% load static %}
<div class="container">
  <div class="row justify-content-center">
    <h5 class="pink-gradient text-center mb-1">Chikcam Radio</h5>
    <div class="col-lg-6">
      <div id="music-player" class="music-player-card">
        <div class="cover-art-container">
          <img id="cover-art" src="#" alt="Cover Art" class="cover-art img-fluid">
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div id="track-info" class="track-info text-center mt-3">
        <div class="info-item mb-2">
          <h6 class="text-muted mb-1">Current Station</h6>
          <p id="station-name" class="fw-bold text-uppercase mb-0">Station Name</p>
        </div>
        <div class="info-item mb-2">
          <h6 class="text-muted mb-1">Song</h6>
          <p id="track-title" class="fw-bold text-uppercase mb-0">Track Title</p>
        </div>
        <div class="info-item mb-2">
          <h6 class="text-muted mb-1">Artist</h6>
          <p id="track-artist" class="fw-bold text-uppercase mb-0">Artist</p>
        </div>
        <div class="info-item mb-2">
          <h6 class="text-muted mb-1">Album</h6>
          <p id="track-album" class="fw-bold text-uppercase mb-0">Album Name</p>
        </div>
      </div>
      <div class="controls">
        <audio id="audio-player" controls>
          <source id="audio-source" src="#" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        <button id="switch-station-btn" class="btn btn-primary btn-sm rounded-pill my-1">
            <img src="{% static 'images/icons/chevron-right.svg' %}" alt="Switch Station" class="me-1">
            Next Station
        </button>
      </div>
    </div>
  </div>  
</div>