{% load static i18n %}
<div class="bg-pink-gradient">
  <nav class="navbar navbar-expand-md navbar-dark light-gradient navbar-expand-lg navbar-custom fixed-top">
    <div class="container-fluid">
      <button class="navbar-toggler navbar-toggler-right"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand yellow-gradient" href="{% url 'home' %}">
        <span class="yellow-gradient">chik</span><span class="pink-gradient">cam</span>
      </a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="visually-hidden">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'chicks:home' %}">Chicks</a>
          </li>
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link"
                 href="{% url 'users:detail' request.user.username %}">{% translate "My Profile" %}</a>
            </li>
            <li class="nav-item">
              {# URL provided by django-allauth/account/urls.py #}
              <a class="nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
            </li>
          {% else %}
            <li class="nav-item">
              {# URL provided by django-allauth/account/urls.py #}
              <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
            </li>
            {% if ACCOUNT_ALLOW_REGISTRATION %}
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="sign-up-link" class="mx-3 nav-link btn btn-primary bg-animate-dark text-light" href="{% url 'account_signup' %}">
                  {% translate "Sign Up" %} <img src="{% static 'images/icons/arrow-door-in.svg' %}" class="icon-size" alt="Sign Up"></a>
              </li>
            {% endif %}
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</div>