{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-12 text-primary pt-5">
      <h2><span class="text-warning">Chick</span>cam</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10">
      <div id="twitch-embed"></div>
    </div>
    <div class="col-lg-2 flex-column rounded-2 h-75 p-3 justify-content-center align-items-center mt-4">
      <div class="text-center mb-4">
        <p class="text-white mb-0">Interactive Buttons</p>
        <span class="text-warning my-2">Requires Account</span><br>
        <div class="justify-content-center align-items-center card bg-dark rounded-2 my-2">
          <a class="btn btn-outline-primary my-2" href="#" role="button">Create Account</a>
        </div>  
      </div>
      <div class="justify-content-center align-items-center bg-gradient rounded-2">
        <a class="btn btn-light mb-2 w-75 m-3" href="#" role="button">Feed Snack</a>
        <a class="btn btn-secondary btn-block mb-2 w-75 m-3" href="#" role="button">Flash Light</a>
        <a class="btn btn-info btn-block mb-2 w-75 m-3" href="#" role="button">Disco Lights</a>
        <a class="btn btn-success btn-block mb-2 w-75 m-3" href="#" role="button">Play Song</a>
        <a class="btn btn-warning btn-block mb-2 w-75 m-3" href="#" role="button">Take a Pic</a>
        <a class="btn btn-danger btn-block mb-0 w-75 m-3" href="#" role="button">Buy Chicken</a>
      </div>
    </div>
  </div>  
</div>
<script src="https://embed.twitch.tv/embed/v1.js"></script>
<script type="text/javascript">
    new Twitch.Embed("twitch-embed", {
        width: "100%",
        height: "600",
        channel: "chikcam", // Replace with the Twitch channel name
        autoplay: true
    });
</script>
{% endblock content %}