{% extends "base.html" %}

{% load static %}

{% block title %}
  User: 
  
    {{ object.username }}
  
  
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row my-4">
      <div class="col-sm-12">
        <h3>
        
        
        Hey  {{ object.username }}!
        
      </h3>
      <h6 class="text-muted">
        Welcome to Chickam
      </h6>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>
  {% if object == request.user %}
    <!-- Action buttons -->
    <div class="row">
      <div class="justify-content-center align-content-center">
        <div class="col-lg-8 col-12">
          <stripe-buy-button
            buy-button-id="buy_btn_1PP55PECrDARISveoTVMbl5D"
            publishable-key="pk_test_51PNbaWECrDARISve9d1XN6gTisWzkxf0s3vhDzcMCv5oe3stbFHtaitcQ1X89dEdvm7KoHQDPcQM9OMLlH2r470m002y6Lv9WO"
          >
          </stripe-buy-button>
          
          <stripe-buy-button
            buy-button-id="buy_btn_1PQCxPECrDARISveOz3JFMBq"
            publishable-key="pk_test_51PNbaWECrDARISve9d1XN6gTisWzkxf0s3vhDzcMCv5oe3stbFHtaitcQ1X89dEdvm7KoHQDPcQM9OMLlH2r470m002y6Lv9WO"
          >
          </stripe-buy-button>
        </div>
        <div class="col-sm-12">
          <div class="btn-group-lg">
            <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
            <a class="btn btn-info"
               href="{% url 'account_email' %}"
               role="button">E-Mail</a>
            <a class="btn btn-success"
               href="{% url 'mfa_index' %}"
               role="button">MFA</a>
            <a class="btn btn-warning"
               href="{% url 'billing:checkout' %}"
               role="button" type="submit">Get Credits</a>
            <form action="{% url 'billing:checkout' %}" method="POST">
              {% csrf_token %}
              <button class="btn btn-danger" type="submit">Checkout</button>
            </form>
          </div>  
        </div>  
      </div>
    </div>
    <!-- End Action buttons -->
  {% endif %}
</div>
{% endblock content %}
