{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-inline-flex align-items-center" id="fizzle_title_1">
      <span class="yellow-gradient display-3">chik</span><span class="pink-gradient display-3">cam </span><span class="text-muted mt-2 lead">  Real Hot Chicks</span>
    </div>
    <div class="col-lg-10" id="fizzle_title_2">
      <div id="twitch-embed"></div>
    </div>
    <div class="col-lg-2 h-75 align-content-center justify-content-center" id="fizzle_title_1">
      <h5 class="card-title text-center mb-2 text-muted display-6">Interactive</h5>
      <p class="text-muted mb-4 yellow-gradient text-center">Access features with your account, play with the chicks!</p>
      <hr>
      <div class="card rounded-3 bg-animate-dark mt-4">
        <div class="card-body">
          <div class="text-center">
            <form action="{% url 'esp32:increment_action' 'feed_snack' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-dark my-3 w-100">Feed Snack</button>
            </form>
            <form action="{% url 'esp32:increment_action' 'flashlight' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-secondary my-3 w-100">Flashlight</button>
            </form>
            <form action="{% url 'esp32:increment_action' 'text_to_talk' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-info my-3 w-100">Text to Talk</button>
            </form>
            <form action="{% url 'esp32:increment_action' 'play_song' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-success my-3 w-100">Play Song</button>
            </form>
            <form action="{% url 'esp32:increment_action' 'take_a_pic' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-warning my-3 w-100">Take a Pic</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'content/cards.html' %}
</div>
<script src="https://embed.twitch.tv/embed/v1.js"></script>
<script type="text/javascript">
    new Twitch.Embed("twitch-embed", {
        width: "100%",
        height: "500",
        channel: "chikcam", // Replace with the Twitch channel name
        autoplay: true
    });
</script>
{% endblock content %}
